<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstName }} {{ element.lastName }}
    </td>
  </ng-container>

  <!-- eMail Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>email</th>
    <td mat-cell *matCellDef="let element">{{ element.email }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="openDialog(row)"
  ></tr>

  <!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->
</table>
<mat-paginator
  [length]="dataSource.data.length"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page"
  [showFirstLastButtons]="true"
  (page)="handlePageEvent($event)"
  [pageIndex]="currentPage"
>
</mat-paginator>
<ng-template #dialogTemplate let-data="data">
  <h2 mat-dialog-title>Dialog with elements</h2>
  <mat-dialog-content *ngIf="dataSource.data">
    <p><strong>ID:</strong> {{ data?.id }}</p>
    <p><strong>Name:</strong> {{ data?.firstName }} {{ data?.lastName }}</p>
    <p><strong>Email:</strong> {{ data?.email }}</p>
    <p><strong>birthDate:</strong> {{ data?.birthDate }}</p>
    <p><strong>phoneNumber:</strong> {{ data?.phoneNumber }}</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions></ng-template
>
